.container {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 300px;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". . .";
}
.button-summ{
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40%;
    border: 1px solid grey;
    border-radius: 15px 15px 30px;
}
.button-pract{
    grid-column: 2;
    grid-row: 1;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40%;
    border: 1px solid grey;
    border-radius: 15px 15px 30px;
}
.button-cont{
    grid-column: 3;
    grid-row: 1;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40%;
    border: 1px solid grey;
    border-radius: 15px 15px 30px;
}
.text-summ{
    display: block;
    grid-column: 1/4;
    grid-row: 2;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
}
.text-pract{
    display: none;
    grid-column: 1/4;
    grid-row: 2;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
}
.text-cont{
    display: none;
    grid-column: 1/4;
    grid-row: 2;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 15px 15px 15px 15px;
}
